@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.nav-container {
   background-color: #2C3E50;
   height: 100px;
   width: 100%;
   padding: 20px;
   position: fixed;
}

.nav-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-main a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-item {
    display: flex;
    list-style-type: none;
}

.menu-item li {
    margin: 10px;
    font-size: 14px;
}

.nav-brand {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}


.profile-container {
    background-color: #1ABC9C;
    color: #fff;
    padding: 160px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image img{
    width: 150px;
}

.profile-name {
    font-size: 2rem;
    margin: 30px 0 0 0;
}

.profile-description {
    font-size: 1rem;
}

.portfolio-title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #2C3E50;
    margin: 60px 0 10px 0;
}

.portfolio-container {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-image {
    width: calc(100% - 40px);
    max-width: 480px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}

footer {
    background-color: #2C3E50;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title {
    font-size: 14px;
    color: #fff;
    margin-top: 30px;
}

.social-media img{
    height: 32px;
    width: 32px;
    margin: 13px 10px 10px 10px;
}

@media(min-width: 576px) {

    html {
        font-size: 20px;
    }
}

@media(min-width: 768px) {

    html {
        font-size: 24px;
    }

    .portfolio-image {
        width: 280px;
    }

    .nav-container {
        display: flex;
    }

    .nav-main {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-brand {
        font-size: 30px;
        margin-bottom: 0;
    }

    .menu-item li {
        font-size: 18px;
    }
}